html{
    scroll-behavior: smooth;
}

.main{
    background-image: url(../public/background.jpg);
    background-size: cover; 
    background-position: center;
}

.header{
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    font-weight: 700;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    animation: typing 5s steps(100) infinite;
}

@keyframes typing{
    5%{

    }
    10%{

    }
    50%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
    90%{
    }
}

.navbar a{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 40px;
    display: inline-block; 
    transition: transform 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover{
    transform: scale(1.2);
    text-shadow: 0 0 10px white,
                 0 0 10px white;
}

.PAD{
    height: 75px;;
}

p{
    color: black;
}

.profile{
    display: flex;
    padding: 20px;
    padding-bottom: 40px;
    margin-left: 100px;
}

.profile-pic {
    width: 400px;
    padding: 15px;
}

.profile-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.profile-name{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
}

.profile-desc{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 100px;
    max-width: 800px;
}

.Nama{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.Deskripsi{
    color: grey;
    font-size: 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MnBnP, .KSEP-LC, .PTD-INFEST{
    display: flex;
}

.MnB-container{
    width: 40%;
    height: 265px;
    padding: 10px;
}

.MnB-title{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.MnB{
    display: flex;
    box-sizing: content-box;
    padding: 20px;
    height: 140px;
}

.MnB-pics{
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
    display: block;
}

.rotating-img{
    padding: 10px 10px;
    animation: spin_words 10s infinite;
}

.MnB-text{
    overflow: hidden;
}

span{
    margin-top: 10px;
    color:black;
    display: block;
    padding: 25px;
    font-size: 40px;
    height: 70%;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: spin_words 10s infinite;
}

@keyframes spin_words {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.Pencapaian-container{
    width: 60%;
    background-color: pink;
    height: 265px;
    padding: 10px;
}

.PnK-title{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 100px;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.KSEP, .LC, .PTD, .INFEST{
    padding: 15px;
    display: flex;
    width: 50%;
}

.KSEP-pic, .LC-pic, .INFEST-pic, .PTD-pic{
    height: 200px;
    width: 250px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.KSEP-pic:hover, .LC-pic:hover, .INFEST-pic:hover, .PTD-pic:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: transform 0.3s ease;
}

.KSEP-text, .LC-text, .PTD-text, .INFEST-text{
    padding: 10px;
}

.KSEP-title, .LC-title, .PTD-title, .INFEST-title{
    padding-bottom: 10px;
}

.KSEP-title p, .LC-title p, .PTD-title p, .INFEST-title p{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: darkblue;
}

.KSEP-time p, .LC-time p, .PTD-time p, .INFEST-time p{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.WA-img, .IG-img, .EM-img, .GH-img, .LI-img, .LN-img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.WA-img:hover, .IG-img:hover, .EM-img:hover, .GH-img:hover, .LI-img:hover, .LN-img:hover{
    transform: scale(1.2);
    z-index: 2;
    transition: transform 0.3s ease;
}

.Referral{
    display: flex;
    background-color: black;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.Referral p{
    color: white;
}

.Personal, .Professional{
    width: 50%;
}

.WA, .IG, .LN, .EM, .GH, .LI{
    padding: 15px;
    display: flex;
}